* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

button{
    border: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.heading1 {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

.heading2{
    margin: .5rem;   
}

.border {
  border: 1px solid gray;
  padding: 12px;
  width: 400px; 
}

.input{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.input input{
    padding: 8px;   
    border-radius: 4px;
    border: 2px solid gray;
}

.input input:focus{
    border: 2px solid blue;
}

.button_container{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn{ 
    padding: 8px 16px;
    color: white;
}

.blue{
    background: blue;
}

.red{
    background: red;
}
